/* 상위 컨테이너 스타일 */
.status-buttons {
    position: relative; /* 배경 위에 아이콘들을 절대적으로 배치하기 위해 relative로 설정 */
    width: 100%;
    height: 100%;
}

/* 상단 아이콘들을 위한 스타일 */
.top-row {
    display: flex;
    justify-content: space-between; /* 아이콘들 사이에 간격을 균등하게 */
    position: absolute;
    top: 0; /* 7등분된 첫 번째 구역 */
    width: 100%;
}

/* 하단 아이콘들을 위한 스타일 */
.bottom-row {
    display: flex;
    justify-content: space-between; /* 아이콘들 사이에 간격을 균등하게 */
    position: absolute;
    bottom: 0; /* 7등분된 하단 구역 */
    width: 100%;
}

/* 아이콘 버튼 스타일 */
.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon-button img {
    width: 50px;  /* 기본 아이콘 크기, 필요시 슬라이더 값에 맞게 조정 */
    height: 50px; /* 기본 아이콘 크기, 필요시 슬라이더 값에 맞게 조정 */
}
